body {
  background-color: #f8f9fa;
}
h1, h2, h3 {
  font-family: 'Segoe UI', sans-serif;
}
.images {
    display: flex;
    width: 100%;
}
.images img {
    height: 400px;
    width: 100%;
    transition: all 0.15s ease;
}